{% extends "base.html" %}
{% load static %}
{% block page_title %}Home Page{% endblock page_title %}

{% block content %}
<div class="flex justify-center items-center gap-4 p-4">
    <div class="w-1/2">
        <img src="{% static "images/note.jpg" %}" alt="photo">
    </div>
    <div class="w-1/2">
        <h2 class="text-2xl font-semibold my-8">Welcome To <a class="text-purple-600 font-semibold" href="{% url "home" %}">NOTEBOOK</a></h2>
        <p class="text-base mb-4">In today's fast-paced and technologically advanced world, the need for effective note-taking and collaborative research tools has become more important than ever. With the advent of smartphones and mobile devices, people are looking for more efficient and convenient ways to keep track of their notes, ideas, and research. One such solution that has gained popularity in recent years is the notes book app.</p>
        <a  href="{% url "notes" %}" class="inline-block font-medium text-sm px-6 py-3 leading-none bg-purple-600 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-600">Explore Notes</a>
    </div>
</div>
{% endblock content %}